# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# ROS 2 & Colcon
install/
log/

# OS & IDE
.vscode/
.idea/
*.swp
*~
Thumbs.db
.DS_Store

# Temporary scratch
paper_text.txt

#Prompts
implementation_plan.md
